/* doc SET BACKGROUND COLOR FOR THE BODY */
body {
  background-color: rgba(240, 233, 221, 255);
}

/* doc SET BACKGROUND COLOR FOR THE NAVBAR */
.navbar {
  background-color: rgb(56, 95, 113) !important;
}

/* doc ALIGN NAVBAR ITEMS IN A ROW AND CENTER THEM FOR LARGER SCREENS */
.navbar-nav {
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

/* doc SET DEFAULT COLOR AND HOVER EFFECT FOR NAVBAR LINKS */
.navbar-nav .nav-link {
  display: flex;
  align-items: center;
  color: rgb(233, 237, 222);
  transition: color 0.3s;
}

/* doc CHANGE COLOR OF NAVBAR LINKS ON HOVER */
.navbar-nav .nav-link:hover {
  color: rgb(255, 255, 255);
}

/* doc SET DEFAULT COLOR AND HOVER EFFECT FOR NAVBAR TEXT */
.nav-text {
  margin-left: 8px;
  color: rgb(233, 237, 222);
  transition: color 0.3s;
}

/* doc CHANGE COLOR OF NAVBAR TEXT ON HOVER */
.navbar-nav .nav-link:hover .nav-text {
  color: rgb(255, 255, 255);
}

/* doc ADJUST NAVBAR LAYOUT FOR LARGER SCREENS */
@media (min-width: 769px) {
  .navbar-nav {
    flex-direction: row;
    justify-content: center;
  }

  /* doc ADD MARGIN BETWEEN NAVBAR LINKS */
  .navbar-nav .nav-link {
    margin: 0 20px;
  }
}

/* doc ADJUST NAVBAR LAYOUT FOR SMALLER SCREENS (BURGER MENU) */
@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: column;
    align-items: center;
  }

  /* doc CENTER AND DISPLAY NAVBAR TEXT IN BURGER MENU */
  .navbar-nav .nav-link {
    display: flex;
    justify-content: center;
  }

  .navbar-nav .nav-link .nav-text {
    display: inline-block;
  }
}

/* doc SET MAXIMUM WIDTH FOR NAVBAR LOGO */
.navbar-brand img {
  max-width: 4rem;
  height: auto;
}

/* doc CUSTOMIZE THE BURGER MENU ICON */
.custom-toggler .navbar-toggler-icon {
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"%3E%3Cpath stroke="rgb(233, 237, 222)" stroke-width="2" d="M4 6h22M4 15h22M4 24h22" /%3E%3C/svg%3E');
}

/* doc HOVER EFFECT FOR THE BURGER MENU ICON */
.custom-toggler:hover .navbar-toggler-icon {
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"%3E%3Cpath stroke="rgb(200, 200, 200)" stroke-width="2" d="M4 6h22M4 15h22M4 24h22" /%3E%3C/svg%3E');
}
