.navbar {
  background-color: #f8f9fa; /* Couleur de fond de la navigation */
  padding: 10px; /* Padding autour de la barre de navigation */
}

.navbar-menu {
  list-style-type: none; /* Enlever les puces */
  margin: 0;
  padding: 0;
  display: flex; /* Alignement horizontal */
  justify-content: center; /* Centrer les éléments */
}

.navbar-item {
  margin: 0 15px; /* Espacement entre les éléments */
}

.navbar-item a {
  text-decoration: none; /* Enlever le soulignement des liens */
  color: #007bff; /* Couleur des liens */
  font-size: 18px; /* Taille de la police */
}

.navbar-item a:hover {
  color: #0056b3; /* Couleur des liens au survol */
}
