/* App.css */
.nav-icon {
  font-size: 1.5rem;
  color: rgb(233, 237, 222);
  transition: color 0.3s ease;
}

.nav-icon:hover {
  color: rgb(233, 237, 222);
}

.nav-item {
  position: relative; /* Nécessaire pour positionner le texte absolu */
  display: flex;
  align-items: center;
}

.nav-text {
  color: rgb(233, 237, 222);
  position: absolute;
  left: 100%; /* Commence à droite de l'icône */
  margin-left: 15px; /* Espacement entre l'icône et le texte */
  opacity: 0; /* Masquer le texte par défaut */
  white-space: nowrap; /* Empêcher le retour à la ligne */
  transition: opacity 0.3s ease, transform 0.3s ease;
  top: 50%; /* Centrer verticalement */
  transform: translateY(-50%) translateX(10px); /* Ajuster verticalement et horizontalement */
}

.nav-item:hover .nav-text {
  opacity: 1; /* Afficher le texte au survol */
  transform: translateY(-50%) translateX(0); /* Déplacer le texte à sa position d'origine */
}

body {
  background-color: rgba(240,233,221,255)
}

